<div class="outline">
    <div class="container">
        <div class="padding">
            <div mat-dialog-content>
                <pre class="pre">
Are you sure you want to delete
this User? This can not be
undone.
</pre>
            </div>
            <div mat-dialog-actions class="dialogButton">
                <button mat-raised-button color="warn" (click)="deleteData()">Yes</button>
                <button mat-raised-button cdkFocusInitial color="" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>